.add-box{
	 width: 600px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 40px 90px;
    background-color:#deebeb;
    position: relative;
    left:30%;
    height:500px;
    top:20px;
}

.input{
	padding: 10% 15%;
}
h3{
	left: 0px;
    background-color:8ce9c1;
    position: absolute;
    top: 0px;
    width: 100%;
    height:35px;
}