.add-box{
	 width: 700px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 40px 90px;
    background-color:#deebeb;
    position: relative;
    left:30%;
    height:auto;
    top:20px;
}
.table{
	position:relative;
	top:30px;
	text-align: center;
}